# Project specific
generated-project
build/
out/
bin/

# Gradle
.gradle/
.gradle_home/
build/
!gradle/wrapper/gradle-wrapper.jar

# Kotlin
.kotlin/

# IDEs
## IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

## Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

## VS Code
.vscode/
*.code-workspace
.history/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini

# Compiled/Generated
*.wasm
*.o
*.so
*.class
*.log
*.sqlite
target/
node_modules/
__pycache__/
*.pyc

# Local Environment
.env
.env.local
*.local

# Archives
*.tar
*.gz
*.zip
*.rar

# Tmp files
*~
*.swp
!.editorconfig
